@import "@inkline/inkline/css/variables";
@import "@inkline/inkline/css/mixins";

:root {
  --color--primary--h: 195deg;
  --color--primary--s: 77%;
  --color--primary--l: 39%;
}

@include i-input() {
  ----border-radius: 50px;
  ----padding: 10px 25px;
}